page-setting {
  .toolbar-background {
    background-color: #0b9444;    
  }
  .toolbar-title.toolbar-title-md, 
  .toolbar-title.toolbar-title-ios, 
  .toolbar-title.toolbar-title-wp { 
    color: white;  
    text-transform: uppercase;
  }
  ion-header ion-icon.back-button-icon.icon {
    color: white;
    font-size: larger;
  }
  .back-button-md,
  .back-button-ios {
    color: white;
    font-size: medium;
  }
  .menu{
    color: white;
  }
  .search {
    line-height: 30px;
    width: 100%;
    padding-left: 10px;
    border-left: none;
    border-top: none;
  }
  .button-ios {
    border-radius: 4px;
    height: 2.0em;
    font-size: 2.3rem;
    color: #0b9444;
    width: 32%;
    background: transparent;
    margin: 0;
  }
  .speach {
    border-radius: 4px;
    height: 2.0em;
    font-size: 2.3rem;
    color: white !important;
    background: #0b9444 !important;
    margin: 0;
  }
  .button-ios.activated {
    color: white;
    background: #0b9444;
  }
  .footer {
    border-top: 1px solid #e4e1e1;
  }
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: white;
    background-color: transparent;
  }
}
